@model MVC_Turistas.Models.Vuelo

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro de eliminar este elemento?</h3>
<div>
    <h4>Vuelo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlazaTotales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlazaTotales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlazaTuristaDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlazaTuristaDisponible)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NumeroVuelo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark" type="button" >Regresar</a>
    </form>
</div>
