@model IEnumerable<MVC_Turistas.Models.Vuelo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlazaTotales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlazaTuristaDisponible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlazaTotales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlazaTuristaDisponible)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumeroVuelo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumeroVuelo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumeroVuelo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
