@model MVC_Turistas.Models.Turistum

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Turistum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoUno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoUno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoDos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoDos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisResidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisResidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoSucursalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoSucursalNavigation.CodigoSucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroVueloNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroVueloNavigation.NumeroVuelo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn-edit"  asp-route-id="@Model?.CodigoTurista">Editar</a> |
    <a asp-action="Index" class="btn btn-dark" type="button" >Regresar</a>
</div>
