@model IEnumerable<MVC_Turistas.Models.Turistum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreTres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoUno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoDos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisResidencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoSucursalNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroVueloNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoUno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoDos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisResidencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoSucursalNavigation.CodigoSucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroVueloNavigation.NumeroVuelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoTurista">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoTurista">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoTurista">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
