@model MVC_Turistas.Models.VueloTuristum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VueloTuristum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoTuristaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoTuristaNavigation.CodigoTurista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroVueloNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroVueloNavigation.NumeroVuelo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumeroVueloTurista">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
