@model IEnumerable<MVC_Turistas.Models.VueloTuristum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoTuristaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroVueloNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoTuristaNavigation.CodigoTurista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroVueloNavigation.NumeroVuelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumeroVueloTurista">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumeroVueloTurista">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumeroVueloTurista">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
